<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> Voting </title>
    <link href="/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <h1> Welcome to We All Vote, <%= username %>
    </h1>

    <h3>
        VOTE ON THE FOLLOWING QUESTION
    </h3>

    <h3>
        <%= question %>
    </h3>

    <div class="center">
        <form action="http://localhost:8080/voting" method="POST">
            <button id="choice1" name="choice1" type="submit">
                <%= choice1 %>
            </button>
            <button id="choice2" name="choice2" type="submit">
                <%= choice2 %>
            </button>

        </form>
    </div>

    <button onclick="history.back()">Go Back</button>

    <script src="/script.js"></script>
</body>

</html>